@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Satisfy&family=Silkscreen&display=swap');

body {
    /* font-family: 'Nabla', cursive; */
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Bungee Spice', cursive;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#motd_image {
    height: 420px;
}

body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
}
#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:100%;

}
#effect
{
 position:relative;	
 width:100%;
 flex:1;
}

#curtain1
{
 top:0px;
 position:absolute;
 left:0px;
 height:600px;
 width:50%
}
#curtain2
{
 top:0px;
 position:absolute;
   height: 600px; 
right:0px;
 width:50%
 
}